html{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-color: #efefef;
}

/* rem es la medida relativa que depende de nuestra fuente de html */
header{
    background-color: #213d61;
    color: white;
    padding: 1rem 1rem;
}

/* solo afecta al titulo del blog*/
header h1{
    font-size: 4rem;
    text-align: center;
}

/* para centrar todo el contenido con el tip de margin 0 auto,
ademas de establecer un tamaño para las imagenes*/
.container{
    width: 500px;
    margin: 0 auto ;
}

/*para que los article tengan aspecto de targeta */
/* padding ayuda a separar mas el texto del borde y border-radius le da 
un aspecto mas redondeado a las puntas*/

/* transition nos permite indicar que propiedades de CSS queremos que sean animadas,
indicandole un origen y despues mediante algun evento indicarle el final.

En este caso el pricipio seria un box-shadow sin sombra, el tiempo de transicion entre principio-final,
el algoritmo por el cual va a acelerar y desacelerar la animacion y el final cuando pasamos el cursor sobre el post*/
section article{
    transition: box-shadow 0.3s ease; 
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article img{
    width: 400px;
    margin: 1rem;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 3);
}

section article h2, section article p{
    margin: 1rem;
    color: #0c1827;
}

footer{
    background-color: #14253b;
    padding: 3rem;
    color: #fff;
}


footer section{
    float: right;
}

/* este elemento no estaba alineado a la section de links, porque tenia un margen*/
footer p{
    margin:  0;
}

footer a{
    transform: color 0.3s ease;
    color: #fff;
    text-decoration: none;
    margin: 0.5rem;
}

footer a:hover{
    color: cornflowerblue;
}


